.roundradiusShape{
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}
.roundradiusSmallShape{
    -fx-arc-height: 20;
    -fx-arc-width: 20;
}

.greyBackground{
    -fx-background-color: rgb(26, 58, 107) ;
}

.searchFeild{
    -fx-background-color: gray;
    -fx-background-radius: 10;
    -fx-text-fill: white;

    /* background-image: url("/src/images/weatherIcons/"); */
}
